<div class="col-lg-10 mx-auto">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-lg-7">
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize_to_fill: [800, 800]). processed, class: "card-img" %>
        <% else %>
          <%= image_tag "no_image", class: "card-img" %>
        <% end %>
      </div>
      <div class="col-lg-5">
        <div class="card-body">
          <% if @post.user.avatar.attached? %>
            <%= image_tag @post.user.avatar.variant(resize_to_fill: [50, 50]). processed, class: "img-fluid rounded-circle" %>
          <% else %>
            <%= image_tag "no_image", class: "img-fluid rounded-circle" %>
          <% end %>
          <%= @post.user.name %>
          <hr>
          <div class="scroll">
            <%= simple_format (@post.caption) %>

            <% @post.comments.each do |comment| %>
              <p>
                <%= image_tag comment.user.avatar.variant(resize_to_fit: [30, 30]).processed, class: 'img-fluid rounded-circle' %>
                <%= comment.user.name %>
                <%= comment.body %>
                <% if current_user.id == comment.user.id %>
                  <%= link_to t(".delete"), comment, method: :delete, data: {confirm: '削除してよろしいですか？'}  %>
                <% end %>
              </p>
            <% end %>

          </div>
          <%= form_with model: @comment, url: comments_path, class: "form-group row mx-auto", local: true do |f| %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_field :body, class: "col-8 form-control" %>
            <%= f.submit t(".submit"), class: "col-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <p>
      <%= link_to t(".edit"), edit_post_path(@post), class: "btn btn-block btn-primary" %>
    </p>
    <p>
      <%= button_tag t(".delet"), class: "btn btn-block btn-warning", data: { toggle: "modal", target: "#delete-post" } %>
    </p>
  <% end %>
</div>

<%= render "delete_modal", post: @post %>
